.benefits__list{
    @media screen and (min-width: 768px){
        display: flex;
        flex-wrap: wrap;
        margin-left: -30px;
    }
    @media screen and (max-width: 1199px){
        margin-bottom: -30px;
    }
}

.benefits__item{
    width: 100%;
    @media screen and (min-width: 768px){
        flex-basis: calc(100%/2 - 30px);
        margin-left: 30px;
    }
    @media screen and (min-width: 1200px){
        flex-basis: calc(100%/4 - 30px);
        margin-left: 30px;
    }
}

.benefits__box{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    height: 120px;
    background: var(--second-background-color);
    border-radius: 4px;
    margin-bottom: 30px;
}

.benefits__icon{
    width: 70px;
    height: 70px;
}

.benefits__text{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    @media screen and (max-width: 1199px){
        margin-bottom: 30px;
    }
}