.page-header{
    border-bottom: 1px solid var(--line-color);
}

.page-header__main-nav{
    display: flex;
    align-items: center;

    @media screen and (min-width: 768px){
       justify-content: start;
    } 
}

.page-header__link-list{
    @media screen and (max-width: 767px){
        display: none;
    }
    @media screen and (min-width: 768px){
        display: flex;
        align-items: center;
    }
}
.page-header__contact-list{
    @media screen and (max-width: 767px){
        display: none;
    }
   @media screen and (min-width: 768px){
        display: block;
        margin-left: auto;
    } 
    @media screen and (min-width: 1200px){
        display: flex;
        align-items: center;

    }
}

.menu-open-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: #212121;
    background-color: transparent;
    border: transparent;
    padding: 0;
    margin-left: auto;
    @media screen and (min-width: 768px){
        display: none;
    }
}

.menu-open-btn__icon{
    width: 40px;
    height: 40px;
    fill: currentColor;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .menu-open-btn:hover &, 
    .menu-open-btn:focus &{
        fill: var(--accent-color);
    }
    @media screen and (min-width: 768px){
        display: none;
    }
}

.page-header__sit-nav{
    display: flex;
    align-items: center;
}

.link-list__item{
    &:not(:last-child){
        margin-right: 50px;
    }
}

.link-list__link{
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--main-title-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, 
    &:focus{
        color:var(--accent-color);
    }
}

.link-list__link--current{
    color: var(--accent-color);
    &::after{
        content: "";
        width: 100%;
        height: 4px;
        display: block;
        position: absolute;
        background-color: var(--accent-color);
        border-radius: 2px;
        bottom: 0;
    }
}