.mobile-menu{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: var(--main-background-color);
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open{
    transform: translateX(0);

}
.mob-menu__form{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding-top: 10px;
    padding-bottom: 48px;
    padding-left: 40px;
    padding-right: 15px;
}

.menu-close-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: #212121;
    background-color: transparent;
    border: transparent;
    padding: 0;
    margin-left: auto;
}

.menu-close-btn__icon{
    width: 40px;
    height: 40px;
    fill: currentColor;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .menu-close-btn:hover &, 
    .menu-close-btn:focus &{
        fill: var(--accent-color);
    }
}
.nav-list__item{
    &:not(:last-child){
        margin-bottom: 32px;
    }

}

.nav-list__link{
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--main-title-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover, 
    &:focus{
        color:var(--accent-color);
    }
    @media screen and (min-width: 480px){
        font-size: 40px;

    }
}

.mob-menu__connect-list{
    margin-bottom: 64px;

}
.connect-list__item{
    &:not(:last-child){
        margin-bottom: 32px;
    }

}

.connect-list__link{
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover, 
    &:focus{
        font-size: 34px;
        color:var(--accent-color);
    }
}

.mob-menu__network-list{
    display: flex;
    
    margin-top: auto;

}

.network-list__item{
    padding-right: 10px;

    &:not(:first-child){
        padding-left: 10px;
        border-left: 1px solid rgba(33, 33, 33, 0.2);
    }
}
.network-list__link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    @media screen and (min-width: 480px){
        font-size: 18px;

    }
}