.product-list{
    @media screen and (min-width: 768px){
        display: flex;
        flex-wrap: wrap;
    }
    
    // display: flex;
    // flex-wrap: wrap;
}
.portfolio__product-list{
    margin-bottom: -30px;
    @media screen and (min-width: 768px){
        margin-right: -30px;
    }

    // margin-left: -30px;
    // margin-bottom: -30px;
}
.product-list__item{
    // box-sizing: border-box;
    display: block;
    width: 100%;
    margin-bottom: 30px;
    @media screen and (min-width: 768px){
        flex-basis: calc(100%/2 - 30px);
        margin-right: 30px;
    }
    @media screen and (min-width: 1200px){
        flex-basis: calc(100%/3 - 30px);
        
    }
    background-color: var(--main-background-color);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus{
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
        0px 4px 4px rgba(0, 0, 0, 0.06), 
        1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.product-list__photo{
    display: block;
    max-width: 100%;
}
/* .portfolio-item:nth-child(3n){
    margin-right: 0;
}

.portfolio-item:nth-last-child(-n+3){
    margin-bottom: 0;
} */

.product-list__card{
    display: block;
    padding: 20px 24px;
    border: 1px solid var(--border-card-color);
    border-top: none;
}

.product-list__title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2.00;
    letter-spacing: 0.06em;
    color: var(--main-title-color);
    margin-bottom: 4px;
}

.product-list__text{
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}

.product-list__thumb{
    position: relative;
    overflow: hidden;

}

.product-list__label{
    position: absolute;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;
    padding: 63px 24px;

    font-weight: 400px;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;

    color: var(--second-text-color);
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    .product-list__item:hover &,
    .product-list__item:focus &{
        transform: translateY(0);
    }
}

