.works{
    padding-top: 0;
    @media screen and (max-width: 1199px){
        display: none;
    }
}

.works__list{
    display: flex;
    margin-left: -30px;
}

.works__item{
    flex-basis: calc(100%/3 - 30px);
    margin-left: 30px;
}

/* .work-list .item + .item{
    margin-left: 30px;
} */

.works__thumb{
    position: relative;
}

.works__photo{
    display: block;
    max-width: 100%;
}

.works__subtitle{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;

    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: rgba(47, 48, 58, 0.8);
}