.btn{
    display: block;
    min-width: 200px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    text-align: center;
    padding: 10px 28px;

    color: var(--second-text-color);
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 1px solid transparent;
    
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
    &:hover,
    &:focus{
        background-color: #188CE8;
    }
}
.hero-btn{
    margin: 0 auto;
}

.btn-send{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    @media screen and (min-width: 1200px){
        margin-left: 12px;
    }
}

.btn-send__icon{
    display: block;
    width: 24px;
    height: 24px;
    fill: currentColor;
    
    margin-left: 10px;
}

.modal__btn{
    margin: 0 auto;
}